body {
    padding: 0;
    margin: 0;
    background-color: #101010;
}

.title {
    font-family: arial;
    color: rgba(255, 255, 255, 0.85);
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
