body {
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

.dark {
    width: 100%;
    height: auto;
    background-color: var(--background-color);
    overflow-x: hidden;
    overflow-y: hidden;
}
